
body{
    margin: 0px;
    background-color: #FFF5D0;
}

header{
    background-color: #838B58;
    display:flex;
    height: 132px;
    align-items: center;
    color:white;
    position:sticky;
    top:0px;
    z-index: 5;
}

#logo{
    margin-left: 25px;
}

#logotitle{
    margin-right: 25px;
}

#logotitle h1{
    margin: 0px;
    line-height: 27px
}

#tcampus{
    font-family: Inter;
    font-size: 23px;
}

#tcrave{
    font-size: 37px;
    font-family: Instrument Serif;
    font-weight: normal;
    letter-spacing: 4px;
}

nav a{
    font-size: 24px;
    font-family: Inter;
    font-weight: bold;
    margin-left:25px;
    text-decoration: none;
    color:white;
}

.abouthead{
    width: 100%;
    height: 300px;
    background-image: url("../images/about-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    background-color: #82987E;
}

.abouthead h1{
    font-family: Inter;
    color:white;
}

.aboutsection1{
    display:flex;
    background-color: #82987E;
    height:713px;
}

.aboutsection2{
    background-color: #FFF5D0;
    height:713px;
    display:flex;
}

.aboutsection3{
    background-color: #1E1E1E;
    background-image: url("../images/aboutsection3.png");
    width:100%;
    height: 650px;
    background-repeat: no-repeat;
    display:flex;
}

.text{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text h1{
    line-height: 4px;
}


.subhead{
    font-family: Inter;
    color:white;
    font-size: 96px;
    width: 650px;
}

p{
    font-family: Gantari;
    color:white;
    font-size: 33px;
    text-align: justify;
    width:622px;
}

.aboutsection2 .subhead,
.aboutsection2 p{
    color: rgb(39, 39, 39);
}

.aboutsection2 p{
    margin-top: -25px;
}


.aboutsection2 .subhead{
    text-align: right;
    line-height: 95px;
}

.aboutsection3 .subhead,
.aboutsection3 p
{
    width: 900px;
}