
body{
    margin: 0px;
    background-color: #FFF5D0;
}

header{
    background-color: #838B58;
    display:flex;
    height: 132px;
    align-items: center;
    color:white;
    position:sticky;
    top:0px;
    z-index: 5;
}

.devs{
    font-weight: normal;
}

a{
    text-decoration: none;
    color:white;
}

#logo{
    margin-left: 25px;
}

#logotitle{
    margin-right: 25px;
}

#logotitle h1{
    margin: 0px;
    line-height: 27px
}

#tcampus{
    font-family: Inter;
    font-size: 23px;
}

#tcrave{
    font-size: 37px;
    font-family: Instrument Serif;
    font-weight: normal;
    letter-spacing: 4px;
}

nav a{
    font-size: 24px;
    font-family: Inter;
    font-weight: bold;
    margin-left:25px;
}

.hero{
    margin-top: 40px;
    height: 100vh;
    position:relative;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.herotitle{
    margin-top: -250px;
}

.herotitle h1{
    margin:none;
    line-height: 0px;
}

#hcampus{
    font-size: 106px;
    font-family: Inter;
    color: #383835;
}

#hcrave{
    font-size: 213px;
    font-family: Instrument Serif;
    font-weight: normal;
    color:#383835;
}

.hero .hero1 pre{
    margin-top: 0px;
    padding: 0px;
    font-family: Gantari;
    font-size: 32px;
    color:#383835;
}


.hero img{
    height: 790px;
    margin-top: -250px;
}

.hero button{
    font-family: Inter;
    font-weight: bold;
    font-size: 24px;
    padding:15px;
    border-radius: 70px;
    width:184px;
    height:60px;
    border:solid #798645 ;
}

button:hover{
    cursor: pointer;
}

#explorebtn{
    background-color: #838B58;
    color: #FFFFFD;
}

#aboutbtn{
    background-color: transparent;
    color: #383835;
    margin-left: 30px;
}
