
body{
    margin: 0px;
    background-color: #FFF5D0;
}

header{
    background-color: #838B58;
    display:flex;
    height: 132px;
    align-items: center;
    color:white;
    position:sticky;
    top:0px;
    z-index: 5;
}


a{
    text-decoration: none;
    color:white;
}

.footer-column a{
    text-decoration: none;
    color:#464545;
}

#logo{
    margin-left: 25px;
}

#logotitle{
    margin-right: 25px;
}

#logotitle h1{
    margin: 0px;
    line-height: 27px
}

#tcampus{
    font-family: Inter;
    font-size: 23px;
}

#tcrave{
    font-size: 37px;
    font-family: Instrument Serif;
    font-weight: normal;
    letter-spacing: 4px;
}

nav a{
    font-size: 24px;
    font-family: Inter;
    font-weight: bold;
    margin-left:25px;
}

.section1 {
  display: flex;
  background-color: #82987E;
  margin-top: -20px;
}

.section1 h1{
  color: white;
  font-family: Inter, serif;
  font-size: 80px;
  margin: 140px 0 0 150px;
  line-height: 90px;
}

.section1 p{
  color: white;
  font-family: Gantari, serif;
  font-weight: normal;
  font-size: 24px;
  margin: 420px 0 0 -740px;
}

.section1 img{
  background-color: #AEBC98;
  display: block;
  margin-left: auto;
  height: 700px;
  width: 770px;
}

.section2 {
  display: flex;
  background-color: #FFF5D0;
}

.section2-text {
  margin: 80px 0 0 150px;
  display: flex;
  flex-direction: column;
}

.section2 h1 {
  color: #686868;
  font-family: Inter, serif;
  font-size: 80px;
  text-align: right;
  margin: 0 0 20px 0;
  line-height: 65px;
}

.section2-text p {
  color: #686868;
  text-align: justify;
  font-family: Gantari, serif;
  font-weight: normal;
  font-size: 26px;
  margin-top: 10px;
  max-width: 640px;
}

.section2 img{
  display: block;
  margin: 60px 0 60px 90px;
  height: 500px;
  width: 925px;
}

.section3 {
  display: flex;
  background-color: #82987E;
  margin-top: -20px;
}

.section3-text {
  margin: 60px 0 0 100px;
  display: flex;
  flex-direction: column;
}

.section3 h1{
  color: white;
  font-family: Inter, serif;
  font-size: 80px;
  margin: 140px 0 0 150px;
  line-height: 90px;
}

.section3 p{
  color: white;
  text-align: justify;
  font-family: Gantari, serif;
  font-weight: normal;
  font-size: 24px;
  margin: 20px 130px 0 80px;
}

.section3 img{
  background-color: #AEBC98;
  display: block;
  height: 700px;
  width: 770px;
}